apiVersion: v2
appVersion: "1.0.1"

name: vechr
description: Helm Chart for Vechr Kubernetes
keywords:
- Vechr
- IoT

type: application
version: 1.0.3
home: https://github.com/vechr
maintainers:
  - name: zulfikar
    url: https://github.com/zulfikar4568
    email: isnaen70@gmail.com

icon: https://raw.githubusercontent.com/vechr/vechr-atlas/master/images/logo.svg


dependencies:
  - name: nats
    version: 0.18.3
    repository: https://nats-io.github.io/k8s/helm/charts/
    condition: nats.enabled
  
  - name: kong
    version: 2.12.0
    repository: https://charts.konghq.com
    condition: kong.enabled