APP_LISTS=postgres-db,pg-admin4,api-gateway-microservices,things-microservices,auth-microservices,db-logger-microservices,influxdb,nats-server,mosquitto,nats-box

MOSQUITTO_USERNAME=mosquitto
MOSQUITTO_PASSWORD=mosquitto
MOSQUITTO_VERSION=latest
NATS_VERSION=alpine

INFLUXDB_USER=admin
INFLUXDB_PASS=isnaen1998
INFLUXDB_ORG=kreMES
INFLUXDB_BUCKET=kreMES

POSTGRES_MULTIPLE_DATABASES="auth-db","things-db"
POSTGRES_USER=kreMES
POSTGRES_PASSWORD=123

PGADMIN_DEFAULT_EMAIL=pgadmin@kreMES.com
PGADMIN_DEFAULT_PASSWORD=123