[submodule "microservices/db-logger-service"]
	path = microservices/db-logger-service
	url = git@github.com:kre-tech/db-logger-service.git
[submodule "microservices/auth-service"]
	path = microservices/auth-service
	url = git@github.com:kre-tech/auth-service.git
[submodule "microservices/things-service"]
	path = microservices/things-service
	url = git@github.com:kre-tech/things-service.git
[submodule "application/web-app"]
	path = application/web-app
	url = git@github.com:kre-tech/web-app.git
