[submodule "application/web-app"]
	path = application/web-app
	url = git@github.com:vechr/web-app.git
[submodule "microservices/things-service"]
	path = microservices/things-service
	url = git@github.com:vechr/things-service.git
[submodule "microservices/notification-service"]
	path = microservices/notification-service
	url = git@github.com:vechr/notification-service.git
[submodule "microservices/db-logger-service"]
	path = microservices/db-logger-service
	url = git@github.com:vechr/db-logger-service.git
[submodule "microservices/auth-service"]
	path = microservices/auth-service
	url = git@github.com:vechr/auth-service.git
