[submodule "microservices/db-logger-microservices"]
	path = microservices/db-logger-microservices
	url = git@github.com:zulfikar4568/db-logger-microservices.git
[submodule "microservices/auth-microservices"]
	path = microservices/auth-microservices
	url = git@github.com:zulfikar4568/auth-microservices.git
[submodule "microservices/things-microservices"]
	path = microservices/things-microservices
	url = git@github.com:zulfikar4568/things-microservices.git
[submodule "microservices/bff-microservices"]
	path = microservices/bff-microservices
	url = git@github.com:zulfikar4568/bff-microservices.git
